/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  padding-top: 93px;
  color: #bbbbbb;
  background-color: #0C1222;
}
a {
  -webkit-transition: color 0.3s, background-color 0.5s;
  -moz-transition: color 0.3s, background-color 0.5s;
  -o-transition: color 0.3s, background-color 0.5s;
  transition: color 0.3s, background-color 0.5s;
  color: #ff0079;
}
header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: #FCFFFF;
  background: #0C1222 url(/images/header.svg) no-repeat 0 -442px;
  z-index: 10;
}
header h1 {
  margin: 10px 0;
  font-size: 16px;
  visibility: hidden;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  background: #0C1222;
}
footer a {
  color:#91a1bc;
}
nav {
  display: flex;
  font-size: 14px;
  border-bottom: 5px solid #0C1222;
}
nav a {
  display: inline-block;
  flex-grow: 1;
  justify-content: space-around;
  margin:0 5px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s;
}
nav a.active {
  border-color: #051ADD;
}
.events {
  padding: 0;
  margin: 0;
  list-style: none;
}
.day {
  padding-bottom: 46px;
}
.js .day {
  display: none;
}
.js .day.active {
  display: block;
}
.js .day h2 {
  display: none;
}
.day h2 {
  margin: 0;
  padding: 4px 20px;
  color: #fff;
  background: #333;
}
.day li {
  padding: 0 10px;
}
.day .time {
  margin-top: 0;
  text-align: center;
  font-size: 12px;
  /*visibility: hidden;*/
  height: 0;
}
.day .time * {
  display: none;
}
.day .session {
  margin: 20px;
  display: flex;
  position: relative;
  overflow-x: hidden;
}
.day .session::before{
  content: '';
  background-color: #ff0079;
  flex: 0 0 8px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 35px;
}
.day .session.side::before {
  background-color: #051ADD;
}
.day .session time {
  position: absolute;
  top: 12px;
  left:0;
  font-size: 12px;
}
.day .session div time {
  top: 14px;
}
.day .session h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #91a1bc;
}
.day .session h3 .speaker {
  display: block;
  font-size: 14px;
  color:#FCFFFF;
}
.day .session a,
.day .session > div {
  text-decoration: none;
  color: #FCFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.day .session a h3::after {
  display: block;
  content: '» Details';
  font-size: 12px;
  padding: 5px 0;
}
.day .session a > p,
.day .session div > p {
  margin:0;
}
.day .session .description {
  display: none;
  padding-top: .5em;
  padding-bottom: 0;
}
.day .session .active .description,
.day .session .active + .description {
  display: block;
}
.day .session .description p {
  line-height: 1.5;
  margin-bottom: .5em;
}
.day .session .description p:last-child{
  margin-bottom: 0;
}
.day .session .description ul {
  margin: 0;
  padding: 0;
}
.day .session .description ul li {
  line-height: 1.2;
  margin: 0 0 .5em 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: disc;
}
.day .session .description a {
  text-decoration: underline;
}
.message {
  padding: 6px 20px;
  text-align: center;
}

.notice {
  position:fixed;
  bottom:55px;
  width:100%;
  color: #fff;
  padding:0 20px;
  background-color: #ff0079;
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}
.notice[hidden] {
  opacity: 0;
  display: block;
  visibility: hidden;
}
.notice a{
  color: #fff;
}
